<html>
<head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body bgcolor="grey">
  <h1> <center><span class="hi"> BOOK </span> <span class="hq"> LIST </span> </center> </h1>
    <div  class="container">
    <center>  <table border="solid blue 50px">
        <th > TITLE </th>
        <th > AUTHOR </th>
        <th > PRICE </th>
        {% for book in books %}
        <tr>
          <td>  {{book.title}} </td>
          <td> {{book.author}} </td>
          <td> {{book.price}} </td>
        </tr>
      {% endfor %}
      </table>
      </center>
    </div>

  </body>
  </html>
